<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ergebnis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div id="container">
   <strong style="display:block;">Monatliche optimale Ausgaben nach der 70/20/10 Regel: </strong>
  

  <ion-list>
    <ion-item>
      <ion-input label="Einkommen nach Steuern" [(ngModel)]="einkommenNetto" (ngModelChange)="calcPercentiles100()" labelPlacement="stacked" placeholder="Wert eingeben"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Wesentliche Kosten (70%)" [(ngModel)]="gesamterGrundbedarf70" labelPlacement="stacked" placeholder="Wert eingeben"></ion-input>
    </ion-item>
  </ion-list>

<ion-list *ngIf="showKategorien">
    <ion-item>
      <ion-input label="Wohnen" [(ngModel)]="Wohnen" labelPlacement="stacked" placeholder="Wert eingeben"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Essen" [(ngModel)]="Essen" labelPlacement="stacked" placeholder="Wert eingeben"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Transport" [(ngModel)]="Transport"labelPlacement="stacked" placeholder="Wert eingeben"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Nebenkosten" [(ngModel)]="Nebenkosten" labelPlacement="stacked" placeholder="Wert eingeben"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Versicherungen" [(ngModel)]="Versicherungen" labelPlacement="stacked" placeholder="Wert eingeben"></ion-input>
    </ion-item>
</ion-list>

<ion-list>
    <ion-item>
      <ion-input label="Sparen & Schulden (20%)" [(ngModel)]="sparenUndSchulden20"  labelPlacement="stacked" placeholder="Wert eingeben"></ion-input>
    </ion-item>

      <ion-item>
      <ion-input label="Lifestyle/Investments (10%)" [(ngModel)]="lifestyleInvestments10" labelPlacement="stacked" placeholder="Wert eingeben"></ion-input>
    </ion-item>
</ion-list>
</div>

<ion-button (click)="neuLaden()">Rechner neu laden</ion-button> 
<ion-button>Rechnung speichern</ion-button> 

</ion-content>
